.cus-navbar {
  background-color: #1c2231 !important;
}

.navItems {
  color: #ffffff !important;
  font-size: 1.2rem;
}

.page_tlt {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  color: #ffe484;
}

.navbar_logo {
  color: yellow;
  font-size: 2rem;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #7852b2;
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0 !important;
}
